.containerI {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.6fr 1.9fr 0.9fr 0.6fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "LineasI"
    "CuerpoI"
    "MarcasI"
    "footer";
}

.header {
  grid-area: header;
}

.LineasI {
  grid-area: LineasI;
  text-align: center;
}

.CuerpoI {
  grid-area: CuerpoI;
  text-align: center;
}

.MarcasI {
  grid-area: MarcasI;
  text-align: center;
}

.footer {
  grid-area: footer;
  text-align: center;
  color: $color_4;
  background: rgb(0, 7, 104);
  background: radial-gradient(
    circle,
    rgba(114, 251, 63, 1) 0%,
    rgb(14, 10, 34) 100%
  );
  padding: 20px;
  font-size: large;
}
