$color_1: rgb(238, 53, 62);
$color_2: rgb(218, 38, 38);
$color_3: rgb(0, 0, 0);
$color_4: black;
$color_5: rgb(255, 255, 255);
$color_6: aliceblue;
$color_7: #ffffff;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: "Raleway", sans-serif;
$background-color_1: rgb(0, 0, 0);
$background-color_2: rgb(2, 2, 2);
$background-color_3: rgb(238, 53, 62);