$color_1: rgb(238, 53, 62);
$color_2: rgb(218, 38, 38);
$color_3: rgb(0, 0, 0);
$color_4: black;
$color_5: rgb(255, 255, 255);
$color_6: aliceblue;
$color_7: #ffffff;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: "Raleway", sans-serif;
$background-color_1: rgb(0, 0, 0);
$background-color_2: rgb(2, 2, 2);
$background-color_3: rgb(238, 53, 62);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.imglogo {
	text-align: center;
}
body {
	font-family: $font-family_1;
	background-color: $background-color_1;
}
h1 {
	color: $color_1;
	text-align: center;
	margin: 15px;
}
.header__nav {
	width: 100%;
	height: 90px;
	background-color: $background-color_2;
	margin: 0 auto;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}
.header__menu {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 15px;
}
.header__link {
	color: $color_2;
	text-decoration: none;
	padding: 0.7rem;
	&:hover {
		background-color: $background-color_3;
		color: $color_3;
		border-radius: 20px;
	}
}
.containerH {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.6fr 2.2fr 0.6fr 0.6fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "header" "LineasH" "CuerpoH" "MarcasH" "footer";
}
.header {
	grid-area: header;
	grid-area: header;
}
.LineasH {
	grid-area: LineasH;
	text-align: center;
}
.CuerpoH {
	grid-area: CuerpoH;
	text-align: center;
}
.MarcasH {
	grid-area: MarcasH;
	text-align: center;
}
.footer {
	grid-area: footer;
	grid-area: footer;
	text-align: center;
	color: $color_4;
	background: rgb(0, 7, 104);
	background: radial-gradient( circle, rgba(114, 251, 63, 1) 0%, rgb(14, 10, 34) 100% );
	padding: 20px;
	font-size: large;
}
.contenedor-imagenes {
	width: 500px;
	img {
		display: flex;
		width: 49%;
		margin: 0.5%;
	}
}
.img_section2 {
	text-align: center;
	padding: 20px;
}
.img_rrss {
	text-align: left;
	padding: 20px;
}
.listaa {
	text-decoration: none;
	text-align: center;
}
.lista {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	margin-left: 200px;
	a {
		text-decoration: none;
	}
}
.logowsp {
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 20px;
	right: 40px;
}
.rrss {
	width: 40rem;
	height: 40rem;
	bottom: 20rem;
	left: 40rem;
}
.containerofer {
	display: grid;
	grid-template-columns: 0.7fr 1.1fr 1.1fr 1.1fr 0.7fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "header2 header2 header2 header2 header2" "Banner Banner Banner Banner Banner" ". foto1 foto2 foto3 ." ". foto4 foto5 foto6 ." ". foto7 foto8 foto9 ." "footer2 footer2 footer2 footer2 footer2";
}
.footer2 {
	grid-area: footer2;
	grid-area: footer2;
	text-align: center;
	color: $color_4;
	background: rgb(0, 7, 104);
	background: radial-gradient( circle, rgba(114, 251, 63, 1) 0%, rgb(14, 10, 34) 100% );
	padding: 20px;
	font-size: large;
}
.header2 {
	grid-area: header2;
}
.Banner {
	grid-area: Banner;
	width: 100%;
}
.foto4 {
	grid-area: foto4;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}
.foto1 {
	grid-area: foto1;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}
.foto2 {
	grid-area: foto2;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}
.foto3 {
	grid-area: foto3;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}
.foto5 {
	grid-area: foto5;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}
.foto6 {
	grid-area: foto6;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}
.foto7 {
	grid-area: foto7;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}
.foto8 {
	grid-area: foto8;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}
.foto9 {
	grid-area: foto9;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}
.container3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 0.5fr;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "headerQ headerQ headerQ headerQ" "Main Main Aside Aside" "Main Main Aside Aside" "footerq footerq footerq footerq";
}
.headerq {
	grid-area: headerQ;
}
.footerq {
	grid-area: footerq;
	text-align: center;
	color: $color_4;
	background: rgb(0, 7, 104);
	background: radial-gradient( circle, rgba(114, 251, 63, 1) 0%, rgb(14, 10, 34) 100% );
	padding: 20px;
	font-size: large;
}
.Main {
	grid-area: Main;
	color: $color_5;
	background-color: $background-color_1;
	font-family: $font-family_2;
	font-weight: bold;
	font-size: 1.3rem;
	margin-left: 5%;
}
.Aside {
	grid-area: Aside;
	text-align: center;
}
.containers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 2.1fr 0.4fr;
	gap: 0px 0px;
	grid-template-areas: "headers headers headers headers" "mains mains asides asides" "footers footers footers footers";
}
.headers {
	grid-area: headers;
}
.footers {
	grid-area: footers;
	text-align: center;
	color: $color_4;
	background: rgb(0, 7, 104);
	background: radial-gradient( circle, rgba(114, 251, 63, 1) 0%, rgb(14, 10, 34) 100% );
	padding: 20px;
	font-size: large;
}
.mains {
	grid-area: mains;
	color: $color_6;
	padding: 10%;
}
.asides {
	grid-area: asides;
}
#galeria {
	img {
		width: 100%;
		height: 300px;
		opacity: 0.5;
		&:hover {
			border: 5px solid #f7f7f7;
			opacity: 1;
		}
	}
	.col-lg-4 {
		padding: 25px;
		margin: 0;
	}
}
.titulo {
	text-align: left;
}
.containers-QS {
	display: grid;
	grid-template-columns: 0.9fr 1.1fr;
	grid-template-rows: 0.8fr 2.6fr 0.7fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "Headers Headers" "Mains Asides" "Footers Footers";
}
.Headers {
	grid-area: Headers;
}
.Footers {
	grid-area: Footers;
	text-align: center;
	color: $color_4;
	background: rgb(0, 7, 104);
	background: radial-gradient( circle, rgba(114, 251, 63, 1) 0%, rgb(14, 10, 34) 100% );
	padding: 20px;
	font-size: large;
}
.Mains {
	grid-area: Mains;
	color: $color_7;
	font-size: 1.3rem;
	padding: 5px;
}
.Asides {
	grid-area: Asides;
	text-align: center;
}
@media (max-width:600px) {
	.containeH {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 5fr;
		gap: 3px;
		grid-auto-flow: row;
		grid-template-areas: "header" "LineasH" "CuerpoH" "MarcasH" "footer";
	}
	.containers {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 5fr;
		gap: 3px;
		grid-auto-flow: row;
		grid-template-areas: "headers" "asides" "asides" "mains" "footers";
	}
	.containerofer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		align-items: center;
		align-content: center;
		justify-content: center;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas: "header2 header2" "Banner Banner" ". foto1 foto2." ". foto3 foto4." ". foto5 foto6." ". foto7 foto8." ". foto9." "footer2 footer2.";
		font-size: 0,5px;
	}
	.containers-QS {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 5fr;
		gap: 3px;
		grid-auto-flow: row;
		grid-template-areas: "Headers" "Asides" "Mains" "Footers";
	}
}
